html {
    margin: 0;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    background: url(background.jpg);
    background-color: #040404;
    background-size: cover;
    color: white;
    animation: movebackground 60s linear infinite;
}



@keyframes movebackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.nav {
    width: 100%;
    height: 100px;
    display: block;


}

.logo {
    width: 120px;
    margin: 0 auto;
    display: block;
    padding-top: 50px;
}

h1 {
    font-family: 'Roobert';
    font-style: normal;
    font-weight: 600;
    font-size: 170px;
    line-height: 71.5%;
    text-align: center;
}

#center_text {
    text-align: center;
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    min-height: 350px;
    margin-top: 50px;
}

.center_large {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.center_small {
    font-size: 18px;

    margin-bottom: 10px;
    letter-spacing: 0.05em;
}


.admit_it {
    padding-top: 150px;
    font-family: 'Roobert';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 109%;
    text-align: center;

}

.bold {
    font-weight: bold;
}

.all_caps_small {
    font-size: 8px;
    text-transform: uppercase;
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.21em;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

.wide_button {

    margin: 0 auto;
    display: block;
    /* large-button.svg as button cakground */
    background: url(large-button.svg) no-repeat;
    background-size: 100% 100%;
    width: 500px;
    height: 50px;
    border: none;
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: normal;
    font-size: 13.9315px;
    line-height: 151.5%;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;



}

.wide_button:hover {

    transform: scale(1.03);
}

.footer {
    width: 100%;
    padding-top: 50px;
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

}

.logo_footer {
    width: 100px;
    margin: 0 auto;
    opacity: 0.5;
    display: block;
}

.footer_text {
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.2em;
    padding-bottom: 30px;
    padding-top: 30px;

}

::selection {
    background: #f5f5f53c;
}

lottie-player {
    /* center */
    margin: 0 auto;
    display: block;
    width: 100%;
}

.orange {
    color: #EB5C27;
}


.visible {
    position: fixed;
    width: 550px;
    max-width: 90%;
    height: auto;
    z-index: 9999;
    background: #202020;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 40px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: block;
    opacity: 1;
    animation: reveal 0.5s ease-in-out forwards;


}

.hidden {
    position: fixed;
    width: 550px;
    max-width: 90%;
    height: auto;
    z-index: 9999;
    background: #373737;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 7.93651px 10.8225px 5.77201px #060606;
    animation: hideAnim 3s ease forwards;
    display: none;


}



@keyframes reveal {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

}






#dark_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    animation: revealbackground 0.5s ease-in-out;

}

@keyframes revealbackground {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }


}

.popup_header {
    height: 65px;
    background: #242424;
    margin-top: 0px;
    border-radius: 10px 10px 0px 0px;
    padding-left: 35px;
    padding-right: 35px;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

.popup_body {
    padding-right: 35px;
    padding-left: 35px;
}

.popup_header_text {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'Roobert';
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    margin: 0px;
    width: max-content;
    display: inline;

}

.popup_close_button {

    line-height: 65px;
    display: inline;
    float: right;
    height: 65px;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #b3b3b3;


}

.popup_close_button:hover {
    color: #ffffff;
}

.popup_body_text {
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 120.5%;
    letter-spacing: 0.03em;
    color: #9A9A9A;
    border-bottom: 1px solid #4e4e4ea9;
    padding-bottom: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
}

.thinline {
    border-top: 1px solid #4e4e4ea9;
    height: 25px;
    width: 100%;
    display: block;

}

.popup_body_text_small {
    font-size: 10px;
    letter-spacing: 0.13em;

}

.popup_body_text_large {
    font-size: 18px;
}

form {
    overflow: hidden;
}

.popup_input {
    margin-bottom: 20px;
    border: 1px solid #9A9A9A;
    outline: none;
    height: 35px;
    background: #282727;
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    line-height: 25px;
    transition: all 0.1s ease-in-out;

text-indent: 5px;

}

::placeholder {
    color: #9A9A9A;

}



.popup_input:focus {
    border: 1px solid #EB5C27;

}

#input_name,
#input_email,
#input_name {
    margin-right: 10px;
    width: 100%;
}

#input_subject {
    width: 100%;
}

#input_message {
    width: 100%;
    height: 100px;
    resize: none;
}

.popup_button {
    width: 100%;
    height: 40px;
    background: #eb5b272c;
    border: 1px solid #EB5C27;
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}


.submit_lottie {
    position: absolute;
    bottom: 35px;
    right: 0px;
    left: 0px;
    margin: auto;
    display: none;

    /* display: none; */
}

/* #dark_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(10px);
} */

.popup_button:hover {
    background: #EB5C27;
    border: 1px solid #EB5C27;
    /* outer shadow */

}

/* screens 600 */
@media screen and (max-width: 800px) {

    /*move  logo a bit down */
    .popup_button {
        height: 80px;

        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.1em;
        border-radius: 5px;
        white-space: normal;
    }

    .logo {

        padding-top: 80px;
    }

    h1 {
        padding-top: 75px;
        font-size: 90px;
        line-height: 71.5%;
        text-align: center;
    }

    .center_large {
        font-size: 24px;
        margin-bottom: 25px;
        margin-top: 25px;
        line-height: 25px;
    }

    .center_small {
        font-size: 18px;
        margin-bottom: 10px;
        letter-spacing: 0.05em;
    }

    .wide_button {
        background: url(large-button.svg) no-repeat;
        background-size: 100% 100%;
        width: 300px;
        height: 50px;
        border: none;
        font-family: 'BN Bergen St';
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 151.5%;
        color: #FFFFFF;
        text-align: center;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        cursor: pointer;
    }

    #center_text {
        min-height: 400px;
    }

    #input_name,
    #input_email,
    #input_subject {
        width: 100%;
    }

    .popup_body {
        width: calc(100% - 40px);
        max-height: 80vh;
        overflow-x: scroll;

padding-right: 20px;
 

    }

    .submit_lottie {
        position: relative;
        bottom: 70px;
    }

    html {

        animation: none;
    }
}


/* change all scroll  */
/* width */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #202020;
}

::-webkit-scrollbar-thumb {
    /* orange */
    background: #EB5C27;
}

::-webkit-scrollbar-thumb:hover {
    background: #EB5C27;

}
