@font-face {
    font-family: 'Roobert';
    src: url('Roobert-SemiBold.woff2') format('woff2'),
        url('Roobert-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('Roobert-Regular.woff2') format('woff2'),
        url('Roobert-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('Roobert-Medium.woff2') format('woff2'),
        url('Roobert-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BN Bergen St';
    src: url('BNBergenStRegular.woff2') format('woff2'),
        url('BNBergenStRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BN Bergen St';
    src: url('BNBergenStLight.woff2') format('woff2'),
        url('BNBergenStLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BN Bergen St';
    src: url('BNBergenStBold.woff2') format('woff2'),
        url('BNBergenStBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BN Bergen St';
    src: url('BNBergenStBlack.woff2') format('woff2'),
        url('BNBergenStBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BN Bergen St';
    src: url('BNBergenStMedium.woff2') format('woff2'),
        url('BNBergenStMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

