body {
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    background: url(background.jpg);
    background-color: black;
    background-size: cover;
    color: white;
    animation: movebackground 200s linear infinite;
}

@keyframes movebackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.nav {
    width: 100%;
    height: 100px;
    display: block;


}

.logo {
    width: 120px;
    margin: 0 auto;
    display: block;
    padding-top: 50px;
}

h1 {
    font-family: 'Roobert';
    font-style: normal;
    font-weight: 600;
    font-size: 170px;
    line-height: 71.5%;
    text-align: center;
}

#center_text {
    text-align: center;
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    min-height: 350px;
    margin-top: 50px;
}

.center_large {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.center_small {
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
}

.line {}

.admit_it {
    padding-top: 50px;
    font-family: 'Roobert';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 109%;
    text-align: center;

}

.bold {
    font-weight: bold;
}

.all_caps_small {
    font-size: 8px;
    text-transform: uppercase;
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.21em;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

.wide_button {

    margin: 0 auto;
    display: block;
    /* large-button.svg as button cakground */
    background: url(large-button.svg) no-repeat;
    background-size: 100% 100%;
    width: 500px;
    height: 50px;
    border: none;
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: normal;
    font-size: 13.9315px;
    line-height: 151.5%;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.21em;
    text-transform: uppercase;

}

.footer {
    width: 100%;
    margin-top: 100px;

}

.logo_footer {
    width: 100px;
    margin: 0 auto;
    opacity: 0.5;
    display: block;
}

.footer_text {
    font-family: 'BN Bergen St';
    font-style: normal;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.2em;
    padding-bottom: 30px;
    padding-top: 30px;

}

::selection {
    background: #EB5C27;
    color: #000;
}

lottie-player {
    /* center */
    margin: 0 auto;
    display: block;
    width: 100%;
}

.orange {
    color: #EB5C27;
}
